![Flos Mariae](https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2023/03/07/16781451615938.jpg)

Some catholic pop to get into the mood: [Flos Mariae - Am√©n](https://www.youtube.com/watch?v=viQOBLF3AcY&themeRefresh=1)

The girls in Flos Mariae need your help. Their study sheets are incomplete and teachers told them to `google it` when they asked about verses. Help them complete their data.

[Bible API](https://github.com/seven1m/bible_api)

[Bible documentation](https://bible-api.com/)

#¬†Import the necessary libraries: pandas & requests

In [1]:
# Your code here
import pandas as pd
import requests
from datetime import date

#¬†Load the bible.csv file on `data/` folder

These are the incomplete study sheets of the Flos Mariae sisters. üëÄ They know the references they need (book, chapter and verse) but lack the text information.

In [2]:
# Your code here
df = pd.read_csv("/Users/leonplaza/Desktop/ironhack/lab/lab-apis/data/bible.csv")
df

                   Name                  Role      Book  Chapter  Verse
0                  Adam             First Man   Genesis        1      1
1                   Eve           First Woman   Genesis       22      5
2                  Noah    Builder of the Ark   Genesis       12     10
3               Abraham     Father of Nations   Genesis        6     15
4                 Sarah       Wife of Abraham   Genesis       28      2
5                 Moses  Leader of the Exodus    Exodus        2      3
6                 Aaron      Brother of Moses    Exodus       13      8
7                 David        King of Israel  1 Samuel        8      4
8               Solomon            Wisest Man  Proverbs       12      9
9                Isaiah               Prophet    Isaiah        4      6
10             Jeremiah               Prophet  Jeremiah        3     16
11     John the Baptist   Forerunner of Jesus   Matthew       12      5
12         Jesus Christ            Son of God   Matthew        5     10
13                 Mary       Mother of Jesus      Luke        6     15
14                Peter               Apostle   Matthew        4      2
15               Andrew               Apostle   Matthew        3      3
16    James the Greater               Apostle   Matthew        5      8
17  John the Evangelist               Apostle      John        3      4
18               Philip               Apostle   Matthew        6      9
19               Thomas               Apostle   Matthew        4      6
20     James the Lesser               Apostle   Matthew       18      9
21        Jude Thaddeus               Apostle   Matthew        9     12
22     Simon the Zealot               Apostle   Matthew       27      3
23          Bartholomew               Apostle   Matthew        6      2

#¬†Go on to this website: [Bible API documentation](https://bible-api.com/). Read the usage and given examples.

## Build the `url_for_request` for a single reference: book, chapter and verse. This will be the result of: reading the API documentation üôÉ.

Hint: there's a `base_url` to which you need to add another `endpoint`. Call the resulting string `url_for_request`

In [21]:
# Your code here
base_url = "https://bible-api.com/"
book = df["Book"]
chapter = df["Chapter"]
verse = df["Verse"]
end_point = book[1] + " " + str(chapter[1]) +":"+str(verse[1])
url = base_url + end_point
res = requests.get(url)

# Great! üí• We have some information. Now, we want to clean it up to get only the text that corresponds to the reference we are looking for.

In [22]:
# Your code here
res.json()["text"].replace("\n","")

'Abraham said to his young men, ‚ÄúStay here with the donkey. The boy and I will go yonder. We will worship, and come back to you.‚Äù'

# Now we want to obtain the information of all the necessary references in the study sheets.

Hint: book, chapter and verse `actual columns` will be the `argument` to pass to the endpoint of the url_for_request. The `text results` from the API call, will be a `new column` of the dataframe.

In [69]:
# Your code here

base_url = "https://bible-api.com/"
book = df["Book"]
chapter = df["Chapter"]
verse = df["Verse"]
end_point_list = [base_url + book[i] + " " + str(chapter[i]) +":"+str(verse[i]) for i in range(len(df))]

In [86]:
ref_list = []
for i in range(len(df)):
    ref_list.append(requests.get(end_point_list[i]))

In [93]:
reference = [ref_list[i].json()["text"].replace("\n","") for i in range(len(df))]
df["Reference"] = reference
df

,Name,Role,Book,Chapter,Verse,Reference
0,Adam,First Man,Genesis,1,1,"In the beginning, God created the heavens and ..."
1,Eve,First Woman,Genesis,22,5,"Abraham said to his young men, ‚ÄúStay here with..."
2,Noah,Builder of the Ark,Genesis,12,10,There was a famine in the land. Abram went dow...
3,Abraham,Father of Nations,Genesis,6,15,This is how you shall make it. The length of t...
4,Sarah,Wife of Abraham,Genesis,28,2,"Arise, go to Paddan Aram, to the house of Beth..."
5,Moses,Leader of the Exodus,Exodus,2,3,"When she could no longer hide him, she took a ..."
6,Aaron,Brother of Moses,Exodus,13,8,"You shall tell your son in that day, saying, ‚Äò..."
7,David,King of Israel,1 Samuel,8,4,Then all the elders of Israel gathered themsel...
8,Solomon,Wisest Man,Proverbs,12,9,"Better is he who is little know, and has a ser..."
9,Isaiah,Prophet,Isaiah,4,6,There will be a pavilion for a shade in the da...
10,Jeremiah,Prophet,Jeremiah,3,16,"It will come to pass, when you are multiplied ..."
11,John the Baptist,Forerunner of Jesus,Matthew,12,5,"Or have you not read in the law, that on the S..."
12,Jesus Christ,Son of God,Matthew,5,10,Blessed are those who have been persecuted for...
13,Mary,Mother of Jesus,Luke,6,15,"Matthew; Thomas; James, the son of Alphaeus; S..."
14,Peter,Apostle,Matthew,4,2,When he had fasted forty days and forty nights...
15,Andrew,Apostle,Matthew,3,3,For this is he who was spoken of by Isaiah the...
16,James the Greater,Apostle,Matthew,5,8,"Blessed are the pure in heart,for they shall s..."
17,John the Evangelist,Apostle,John,3,4,"Nicodemus said to him, ‚ÄúHow can a man be born ..."
18,Philip,Apostle,Matthew,6,9,"Pray like this: ‚ÄòOur Father in heaven, may you..."
19,Thomas,Apostle,Matthew,4,6,"and said to him, ‚ÄúIf you are the Son of God, t..."
20,James the Lesser,Apostle,Matthew,18,9,"If your eye causes you to stumble, pluck it ou..."
21,Jude Thaddeus,Apostle,Matthew,9,12,"When Jesus heard it, he said to them,‚ÄúThose wh..."
22,Simon the Zealot,Apostle,Matthew,27,3,"Then Judas, who betrayed him, when he saw that..."
23,Bartholomew,Apostle,Matthew,6,2,"Therefore when you do merciful deeds, don‚Äôt so..."

#¬†Save the dataframe into the data folder.

Make sure you don't get that unnamed: 0 column. Hint: https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil

In [94]:
# Your code here
df.to_csv("/Users/leonplaza/Desktop/ironhack/lab/lab-apis/data/bible.csv", index=False)