#Import the necessary libraries: pandas, requests & getpass.

In [1]:
import requests
import pandas as pd
import getpass

#Go on to this website: [Tomorrow API documentation - Weather Forecast](https://docs.tomorrow.io/reference/weather-forecast). Read the documentation and the usage. 游뗶

Be aware of API request limits.  丘멆잺

![image2](../image2.png)

#  After exploring how the API works. Generate a token and store it in a `'token'` variable using getpass. 游댏

In [12]:
token = getpass.getpass("Enter your token: ")

# Now, choose the location where you want to browse the Weather Forecast and store it in a variable called ``location``. 游늸

In [13]:
location = "madrid"

# The next step is to build the `url_for_request`.  You must parameterise it with your `location` and your `token`.

In [14]:
url = f"https://api.tomorrow.io/v4/weather/history/recent?location={location}&apikey={token}"

# It's time to call the API. 游 We need to get the `Weather Forecast` information for the chosen location.

In [15]:
def get_weather_response (location, token):
    url = f"https://api.tomorrow.io/v4/weather/history/recent?location={location}&apikey={token}"
    headers = {"accept": "application/json"}
    res = requests.get(url, headers=headers)
    return res.json()

In [16]:
data = get_weather_response (location, token)

# Last step will be to turn it into a Dataframe! 游냪

In [17]:
all_data = []
def get_responses_into_df (data):

    for element in data:
        response = data['timelines']['hourly']
        location = data['location']['name']
        for entry in response:
            data_dict = entry['values']
            data_dict['time'] = entry['time']
            all_data.append(data_dict)
            
    df = pd.DataFrame(all_data)
    df['location'] = data['location']['name']
    
    return df

The result should look like this:

![image3](../image3.png)

In [18]:
df = get_responses_into_df(data)
df.head()

,cloudBase,cloudCeiling,cloudCover,dewPoint,evapotranspiration,freezingRainIntensity,humidity,iceAccumulation,iceAccumulationLwe,precipitationProbability,...,temperatureApparent,uvHealthConcern,uvIndex,visibility,weatherCode,windDirection,windGust,windSpeed,time,location
0,0.37,NaN,48,11.00,0.039,0,82,0,0,0,...,13.88,0,0,9.99,1101,199.63,9.13,4.63,2023-10-28T20:00:00Z,"Madrid, Comunidad de Madrid, Espa침a"
1,0.37,NaN,44,11.00,0.036,0,82,0,0,0,...,13.88,0,0,9.07,1101,190.13,8.88,4.38,2023-10-28T21:00:00Z,"Madrid, Comunidad de Madrid, Espa침a"
2,0.38,0.38,75,10.88,0.036,0,82,0,0,0,...,13.88,0,0,10.24,1001,179.00,8.81,4.38,2023-10-28T22:00:00Z,"Madrid, Comunidad de Madrid, Espa침a"
3,0.13,0.13,75,11.88,0.034,0,93,0,0,0,...,13.00,0,0,13.42,1001,239.50,10.50,4.13,2023-10-28T23:00:00Z,"Madrid, Comunidad de Madrid, Espa침a"
4,0.13,0.13,75,11.88,0.032,0,93,0,0,0,...,13.00,0,0,9.99,1001,198.13,11.38,4.81,2023-10-29T00:00:00Z,"Madrid, Comunidad de Madrid, Espa침a"

#Save the dataframe into the data folder.

Make sure you don't get that unnamed: 0 column. Hint: https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil

In [21]:
df.to_csv('../data/madrid_forecast.csv', index = False)