#Â Import the necessary libraries: pandas & requests

In [75]:
import pandas as pd
from pandas import json_normalize

import requests 
import json
import os
from dotenv import load_dotenv #conda install -c conda-forge python-dotenv

import time

import sys
sys.path.append("../")

#Â Go on to this website: `https://kinduff.github.io/dog-api/`. Read the docs.

## Build the `url_for_request`. This will be the result of: reading the docs ðŸ™ƒ.

Hint: there's a `base_url` to which you need to add another `endpoint`. Call the resulting string `url_for_request`

In [61]:
#Â Your code here
url_for_request = "http://dog-api.kinduff.com/api/facts"
#Â base_url

In [62]:
#Â Your code here
res = requests.get(url_for_request, params = "?number=5").json()
# endpoint

In [63]:
#Â Your code here
res

{'facts': ['There are nearly 14,000 animal shelters and rescue groups across North America.'],
 'success': True}

# Do one request using the `url_for_request`. Make sure it's read as a json.

In [64]:
#Â Your code here
res = pd.DataFrame(res)
res

                                               facts  success
0  There are nearly 14,000 animal shelters and re...     True

# Great! Now: encapsulate

- Create a function whith the name: `request_dog_facts`
- It should not take any argument
- It should return one dictionary with the information requested

In [65]:
#Â Your code here
def request_dog_facts():
    
    url_for_request = "http://dog-api.kinduff.com/api/facts"
    res = requests.get(url_for_request, params = "?number=5").json()
    return res

In [66]:
request_dog_facts()

{'facts': ['Wow, check out those choppers! Puppies have 28 teeth and normal adult dogs have 42.'],
 'success': True}

#Â APIs may be faulty when requesting many times: make sure you implement a try & except to cover for that.

If the request doesn't work, make sure you return a message

In [67]:
#Â your code here
def request_dog_facts():
    try: 
        url_for_request = "http://dog-api.kinduff.com/api/facts"
        res = requests.get(url_for_request, params = {"number":5})
        
        if res.status_code == 200:
            return res.json()
        else:
            return {"error": "Error{}".format(res.status_code)}

    except Exception as e:
        return {"error":"Error:{}".format(e)}

In [87]:
res = request_dog_facts()
res

{'facts': ['Cerberus was the tri-headed dog that guarded the underworld in Greek mythology.',
  'The Chihuahua was named after the state in Mexico where they were discovered.',
  'Although dogs have some sweat glands in their feet, their principal way of losing heat when they are too hot is by panting.',
  'A dogâ€™s heart beats up to 120 times per minute, or 50% faster than the average human heartbeat of 80 times per minute.',
  'The Newfoundland has a water-resistant coat and webbed feet.'],
 'success': True}

# We now want to get as the day of the month today: eg.: if current month is october we'll make 10  requests

Create a variable called `current_month`. Using the imported library in the first cell, save today's day.

## def request_dog_facts():
    
    url_for_request = "http://dog-api.kinduff.com/api/facts"
    res = requests.get(url_for_request, params = "?number=5").json()
    return res

In [107]:
#Â Your code here
from datetime import date

current_month = date.today().month 

for i in range(current_month):
    print(request_dog_facts(url_for_request))

{'facts': ['Dogs can be trained to detect cancer in humans.'], 'success': True}
{'facts': ["A dog's sense of smell is reduced by up to 40 percent when he's overheated and panting."], 'success': True}
{'facts': ['Dogs are natural pack animals.'], 'success': True}
{'facts': ["Service dogs are trained to know when they are on duty. When their harness is on, they know it's business time. When you take it off, the pups immediately become playful and energetic."], 'success': True}
{'facts': ['The most popular male dog names are Max and Jake. The most popular female dog names are Maggie and Molly.'], 'success': True}
{'facts': ['Dogs are capable of understanding up to 250 words and gestures, can count up to five and can perform simple mathematical calculations. The average dog is as intelligent as a two-year-old child.'], 'success': True}
{'facts': ['A person standing still 300 yards away is almost invisible to a dog. But a dog can easily identify its owner standing a mile away if the owner is waving his arms.'], 'success': True}
{'facts': ['It pays to be a lap dog. Three dogs (from First Class cabins!) survived the sinking of the Titanic â€“ two Pomeranians and one Pekingese.'], 'success': True}
{'facts': ['A dog can both sniff and breathe at the same time.'], 'success': True}
{'facts': ['Did you hear that? Sound frequency is measured in Hertz (Hz). The higher the Hertz, the higher-pitched the sound. Dogs hear best at 8,000 Hz, while humans hear best at around 2,000 Hz.'], 'success': True}

#Â If `todays_date` is 27, create a list with 27 dictionaries reusing the function you just created: `request_dog_facts`. List should be called: `dogs_facts`. Do this using a comprehension list

In [97]:
#Â Your code here
todays_date = date.today().day


for i in range(todays_date):
    print(request_dog_facts(url_for_request))

{'facts': ['Dog nose prints are as unique as human finger prints and can be used to identify them.'], 'success': True}
{'facts': ['Bichons, Portuguese Water Dogs, Kerry Blue Terriers, Maltese and Poodles are all good choices if you have allergies since they shed less than other breeds.'], 'success': True}
{'facts': ['Thomas Jefferson helped enact a dog tax in Virginia, because he was annoyed that dogs were killing his sheep.'], 'success': True}
{'facts': ['Davy Crockett had a dog named Sport.'], 'success': True}
{'facts': ['If you want a dog to see things in a green background the best color is blue.'], 'success': True}
{'facts': ['Ancient Egyptians revered their dogs. When a pet dog would die, the owners shaved off their eyebrows, smeared mud in their hair, and mourned aloud for days.'], 'success': True}
{'facts': ['Cerberus was the tri-headed dog that guarded the underworld in Greek mythology.'], 'success': True}
{'facts': ['The ancient Chinese carried Pekingese puppies in the sleeves of their robes.'], 'success': True}
{'facts': ['Those born under the sign of the dog in Chinese astrology are considered to be loyal and discreet, though slightly temperamental.'], 'success': True}
{'facts': ['Dogs can get jealous when their humans display affection toward someone or something else.'], 'success': True}
{'facts': ['The Alaskan Malamute can withstand temperatures as low as 70 degrees below zero.'], 'success': True}
{'facts': ['The phrase "raining cats and dogs" originated in seventeenth-century England. During heavy rainstorms, many homeless animals would drown and float down the streets, giving the appearance that it had actually rained cats and dogs.'], 'success': True}
{'facts': ['One survey reports that 33% of dog owners admit they talk to their dogs on the phone or leave messages on answering machines while they are away..'], 'success': True}
{'facts': ['Thirty percent of all Dalmatians are deaf in one or both ears. Because bulldogs have extremely short muzzles, many spend their lives fighting suffocation. Because Chihuahuas have such small skulls, the flow of spinal fluid can be restricted, causing hydrocephalus, a swelling of the brain.'], 'success': True}
{'facts': ['The Labrador Retriever is the #1 favorite breed in the U.S., Canada, and the U.K.'], 'success': True}
{'facts': ['In Iran, it is against the law to own a dog as a pet. However, if an owner can prove the dog is a guard or hunting dog, this restriction doesnâ€™t apply. Muslim reticence concerning dogs is perhaps due to the fact that rabies has always been endemic in the Middle East.'], 'success': True}
{'facts': ['A Beatles hit. Itâ€™s rumored that, at the end of the Beatles song, "A Day in the Life," Paul McCartney recorded an ultrasonic whistle, audible only to dogs, just for his Shetland sheepdog.'], 'success': True}
{'facts': ['Dachshunds were bred to fight badgers in their dens.'], 'success': True}
{'facts': ['No night vision goggles needed! Dogsâ€™ eyes contain a special membrane, called the tapetum lucidum, which allows them to see in the dark.'], 'success': True}
{'facts': ['Cerberus was the tri-headed dog that guarded the underworld in Greek mythology.'], 'success': True}
{'facts': ['In 1957, Laika became the first living being in space via an earth satellite and JFKâ€™s terrier, Charlie, fathered 4 puppies with Laikaâ€™s daughter.'], 'success': True}
{'facts': ['The oldest known dog bones were found in Asia and date as far back as 10,000 B.C. The first identifiable dog breed appeared about 9000 B.C. and was probably a type of Greyhound dog used for hunting.'], 'success': True}
{'facts': ['The Girl Scouts and Boy Scouts both offer merit badges in dog care.'], 'success': True}
{'facts': ['In Roman times, mastiffs donned light armor and were sent after mounted knights.'], 'success': True}
{'facts': ['Hereâ€™s looking at you. Dogs have three eyelids, an upper lid, a lower lid and the third lid, called a nictitating membrane or "haw," which helps keep the eye moist and protected.'], 'success': True}
{'facts': ['Ancient Egyptians revered their dogs. When a pet dog would die, the owners shaved off their eyebrows, smeared mud in their hair, and mourned aloud for days.'], 'success': True}
{'facts': ['An American Animal Hospital Association poll found that 33% of dog owners admit to talking to their dogs on the phone and leaving answering machine messages for them while away.'], 'success': True}

#Â Build a DF. You have a list of dictionaries, should be easy!

In [110]:
#Â Your code here

Empty DataFrame
Columns: []
Index: []

# Modify the previous table, using a lambda function, so you modify the column data to have the same column but with the element instead of the list with that one element

#Â Save the dataframe into the data folder.

Make sure you don't get that unnamed: 0 column. Hint: https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil

In [50]:
#Â Your code here